.pickerProfile{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.pickerProfile p{
    /* margin-left: -180px; */
    font-size: larger;
}
.profile {
    width: 80%;
    height: 490px;
    border: solid 1.5px #A1A8B3;
}
.profileLink{
    margin-right: -80px;
    color: #F71963;
}
