section{
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    width: 90%;
    /* height: 1150px; */
    background: #fff3f6;
    border: 1px solid #717786;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 4px
}

option{
    font-family: 'Mitr', sans-serif;
    font-size: 10px;
}

select{
    height: 30px;
    border-radius: 5px;
}
.my-orders p{
    font-size: large;
}
.confirm input{
    background: #F71963;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 16px;
    color: white;
    font-family: 'Mitr', sans-serif;
    margin: 30px;
}
