.conteiner-userorders{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.conteiner-userorders p{
    font-size: large;
}
.conteiner-orders {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background: #fff3f6;
    border: 1px solid #717786;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 4px;
}

.conteiner-userorders h1{
    margin: 0px;
}

/* Component OneOrder  */
.ordersDad{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ordersBoy {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 53px;
    background: #FFFFFF;
    border: 2px solid #717786;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 10px 0;
}

.ordersBoy p {
    font-size: small;
    margin: 0px;
}
