.viewPrincipal{
    background-color: #FFF3F6;
    height: 640px;
}

.container{
    height: 136px;
    margin: 25px;
    background: #FFFFFF;
    border: 2px solid #717786;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.viewPrincipal h1{
    margin-top: 5px;
    margin-bottom: 0;
    color: #142032 ;
}

.viewPrincipal h3{
    margin-top: 0;
    font-weight: normal;
    color: #F71963;
}

.container h4{
    margin: 20px 20px 10px 20px;
    font-weight: normal;
}

.container button{
    background: #F71963;
    border-radius: 7px;
    padding: 5px 10px;
    font-size: 16px;
    color: white;
    font-family: 'Mitr', sans-serif;
}
