.navbar{
    background: #F71963;
    height: 50px;
    padding: 5px 30px;
    color: white;
}

.return{
    width: 40px;
    margin: 15px;
    position: fixed;
    left: 2%;
}

.slogan{
    position: absolute;
    left: 5%;
}

.logOut{
    right: 8%;
    position: absolute;
}
