.navbar{
    background: #F71963;
    height: 50px;
    padding: 5px 30px;
}

.return{
    width: 40px;
    margin: 15px;
    position: absolute;
    left: 2%;
}

.navbar p{
    color: white;
    right: 10%;
    position: absolute;
    margin: 12.5px 0;
}
