.conteiner-pickerorders{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.conteiner-deliveries {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 611px;
    background: #fff3f6;
    border: 1px solid #717786;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: -9px;
}

.conteiner-pickerorders p{
    font-size: larger;
    
}

/* Component OneOrder  */
.deliveriesDad{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.deliveriesBoy {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 108px;
    background: #FFFFFF;
    border: 2px solid #717786;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 13px;
}

.deliveriesBoy p {
    font-size: small;
    margin: 0px;
}

