.registerPicker{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 640px;
    background-color: #F71963;
    align-items: center;
    color: #142032;
}
h1{
    margin-bottom: 5px;
}
.registerPick p{
    font-weight: bold;
    margin-top: -18px;
}
.registerDivFormP{
    margin-top: 26px;
    background-color: #FFF3F6;
    width: 88%;
    height: 430px;
    outline: solid 5px #142032;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #142032;
    font-weight: 500;
}
.registerPickerForm{
    width: 84%;
    height: 231px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.registerPickerForm label{
    width: 85%;
    align-items: flex-start;
    color: #142032;
    margin-bottom: 7px;
}
.registerPickerInput{
    background-color: #FFF3F6;
    height: 23px;
    width: 85%;
    margin-bottom: 26px;
    border-radius: 6px 6px;
    border: solid 1px #717786;
}
.registerPickerButton{
    background-color: #F71963;
    color: white;
    outline: none;
    width: 42%;
    height: 43px;
    border-radius: 15px 15px;
    font-size: larger;
    text-align: center;
}
.radioButtom{
    display: flex;
    margin-bottom: 7px;
    flex-direction: column;
}
.radioButtomOne{
    width: 100%;
}
.radioButtomTwo{
    width: 100%;
}
