.newPicker{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.newPicker p{
    font-size:large;
    /* margin-left: -180px; */
}
.formPicker{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 444px;
    margin-top: 19px;
    border: solid 1.5px #717786 ;
    border-radius: 5px 5px;
}
.inputPicker{
    width: 70%;
    height: 20px;
    background-color: #FFF3F6;
    border: solid 1px #717786 ;
    border-radius: 5px 5px;
    margin: 10px;
}
.labelOne {
    margin-right: 77px;
}
.labelTwo{
    margin-right: 69px;
    margin-top: 13px;
}
.labelThree {
    margin-right: 111px;
    margin-top: 13px;
}
.buttonNewPicker{
    width: 54%;
    height: 42px;
    background-color: #F71963;
    color: white;
    border-radius: 12px 12px;
    text-align: center;
    margin-top: 38px;
    border: none;
    box-shadow: 0.5px 2.5px #a1a8b3
}
